<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8">
    <head> <script type="text/java" src="http://code.jquery.com/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="js/angular1.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="angular.js" type="text/javascript"></script>
    <script src="js/underscore.js" type="text/javascript"></script>

    <title>Desafio</title>
</head>
	<body ng-controller="Ctrl1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
	  					<h2>Favoritos</h2>
	  					<div class="row">		
						 <show-post post="post" ng-repeat="post in postsFavorites"></show-post>
				    	</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">	
					<h2>{{title}}</h2> 
					<input ng-model="searchText" class="form-control"></br>
					
					<div class="input-group">
	  					<span>Limite: </span>
	  					<div class="btn-group">
								<button type="button" class="btn btn-default" ng-click="define_limit(5)">5</button>
								<button type="button" class="btn btn-default" ng-click="define_limit(10)">10</button>
								<button type="button" class="btn btn-default" ng-click="define_limit(15)">15</button>
						</div>
						<span style="margin-left:10px">Ordernar por: </span>&nbsp;&nbsp;&nbsp;
						<select ng-model="ordem" ng-change="change_ordem()">
							<option value="data.title">Nome</option>
							<option value="data.ups">Ups</option>
							<option value="data.downs">Downs</option>
						</select>					
					</div>
					<div class="row">		
						 <show-post post="post" ng-repeat="post in posts|filter:searchText|orderBy:ordem|limitTo:limit"></show-post>
				    </div>
					</div>		
				</div>	

			</div>
	</div>

	</body>

</html>

<script type="text/ng-template" id="template.html">
<div class="col-sm-6 col-md-3" >
	<div class="thumbnail" style="min-height: 300px;">
      <img src="{{post.data.thumbnail}}" style="width: 100px; height: 100px;">
      <div class="caption">
        <h4>{{post.data.title|limitTo:30}}</h4>
        <p>Ups: {{post.data.ups}}</p>
        <p>Downs: {{post.data.downs}}</p>
        <p><favoritar post="post"></favoritar></p>
      </div>
	</div>
</div
</script>

<script type="text/ng-template" id="button.html">
	<a href="#" ng-click="moverFavorito()" class="btn btn-primary">Favorito</a>
</script>






